.transition, .nav__link, .footer__nav-link {
  transition: all 0.3s ease;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: inherit;
  overflow-x: hidden !important;
}

body {
  box-sizing: border-box;
  overflow-x: hidden !important;
  font-family: "Manrope-Regular",sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
}

body {
  color: #000;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 64px;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 56px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.mb-120 {
  margin-top: 120px;
}

@media screen and (max-width: 576px) {
  .mb-120 {
    margin-top: 65px;
  }
}

.pl-50 {
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .pl-50 {
    padding-left: 0;
  }
}

.mb-70 {
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .mb-70 {
    margin-bottom: 70px;
  }
}

.btn {
  background-color: #f84646;
  border-radius: 8px;
  color: #fff;
  transition: background-color 0.4s ease;
}

.btn__nav {
  border-radius: 5px !important;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.btn__header-form {
  padding: 19px 38px;
  position: absolute;
  right: 6px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .btn__header-form {
    padding: 12px 30px;
  }
}

@media screen and (max-width: 410px) {
  .btn__header-form {
    padding: 10px 10px;
  }
}

.btn__about-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  padding: 12px 50px;
}

@media screen and (max-width: 768px) {
  .btn__about-info {
    line-height: 32px;
    font-size: 18px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .btn__about-info {
    line-height: 26px;
    font-size: 16px;
  }
}

.btn__contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  padding: 25px 40px;
}

@media screen and (max-width: 768px) {
  .btn__contact {
    font-size: 22px;
    line-height: 13px;
  }
}

.btn:hover {
  background-color: #f61515;
}

.services__cards {
  margin-top: 100px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .services__cards {
    width: 95%;
    margin: 100px auto;
  }
}

@media screen and (max-width: 1200px) {
  .services__cards {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .services__cards {
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .services__cards {
    width: 90%;
    margin-top: 80px;
    grid-template-rows: repeat(auot, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 410px) {
  .services__cards {
    width: 100%;
  }
}

.services__cards .services__card {
  border-radius: 8px;
  box-shadow: -1px 13px 18px 4px #f6c7c7;
  padding: 30px 0;
  margin: 0 40px 96px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1400px) {
  .services__cards .services__card {
    margin: 0 20px 70px 20px;
  }
}

@media screen and (max-width: 992px) {
  .services__cards .services__card {
    margin: 0 15px 70px 15px;
  }
}

@media screen and (max-width: 768px) {
  .services__cards .services__card {
    box-shadow: 0px 0px 19px 4px #f6c7c7;
    margin: 0 15px 40px 15px;
    padding: 50px 0;
  }
}

@media screen and (max-width: 410px) {
  .services__cards .services__card {
    padding: 20px 0;
    margin: 0 10px 40px 10px;
  }
}

.services__cards .services__card:hover {
  box-shadow: 0px 0px 19px 8px #53c1ff;
  transform: translateY(-20px) rotateY(25deg);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .services__cards .services__card:hover {
    transform: none;
  }
}

.services__cards .services__card-imgbox {
  width: 76px;
  height: 76px;
  position: relative;
}

.services__cards .services__card-imgbox span {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  right: 0;
}

.services__cards .services__card-imgbox .shape-1 {
  background-color: #ff2070;
}

.services__cards .services__card-imgbox .shape-2 {
  top: 9px;
  left: 0;
  background-color: #4c20ff;
}

.services__cards .services__card-imgbox .shape-3 {
  top: 8px;
  right: -4px;
  background-color: #0097ec;
}

.services__cards .services__card-imgbox .shape-4 {
  top: 9px;
  background-color: #2093ff;
  left: 0;
}

@media screen and (max-width: 768px) {
  .services__cards .services__card-imgbox .shape-4 {
    top: 17px;
    left: -3px;
  }
}

.services__cards .services__card-imgbox .shape-5 {
  background-color: #ff2020;
}

.services__cards .services__card-imgbox .shape-6 {
  right: 13px;
  top: -5px;
  background-color: #ffa620;
}

@media screen and (max-width: 768px) {
  .services__cards .services__card-imgbox .shape-6 {
    top: -5px;
    right: 5px;
  }
}

.services__cards .services__card-title {
  line-height: 33px;
  font-weight: 800;
  margin: 17px 0 10px 0;
}

.services__cards .services__card-description {
  line-height: 28px;
  letter-spacing: 0.2px;
  font-size: 18px;
  width: 81%;
}

@media screen and (max-width: 576px) {
  .services__cards .services__card-description {
    font-size: 16px;
  }
}

.header__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 80%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header__form {
    width: 90%;
  }
}

.header__form .header__form-input {
  outline: none;
  border: none;
  padding: 15px 0 15px 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.2px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__form .header__form-input {
    padding: 10px 0 10px 32px;
  }
}

@media screen and (max-width: 410px) {
  .header__form .header__form-input {
    padding: 10px 0 10px 12px;
  }
}

.header__form .header__form-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.header {
  padding: 45px 122px 148px 122px;
  background-image: url("/image/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 45px 80px 148px 80px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 45px 30px 148px 60px;
    background-position-x: 28%;
  }
}

@media screen and (max-width: 992px) {
  .header {
    background-position-x: 60%;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 45px 20px 100px 20px;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: color-burn;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 32px 5px 90px 5px;
  }
}

@media screen and (max-width: 410px) {
  .header {
    padding: 25px 5px 90px 5px;
  }
}

.header__main {
  margin-top: 135px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
}

@media screen and (max-width: 1400px) {
  .header__main {
    width: 52%;
  }
}

@media screen and (max-width: 1200px) {
  .header__main {
    width: 63%;
  }
}

@media screen and (max-width: 1200px) {
  .header__main {
    width: 75%;
    margin-top: 150px;
  }
}

@media screen and (max-width: 992px) {
  .header__main {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .header__main {
    width: 90%;
    text-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 576px) {
  .header__main {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 90px;
  }
}

.header__title {
  font-weight: 900;
  line-height: 82px;
  width: 95%;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 576px) {
  .header__title {
    line-height: 70px;
  }
}

@media (max-width: 470px) {
  .header__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 410px) {
  .header__title {
    font-size: 30px;
  }
}

.header__description {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.2px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .header__description {
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-wdith: 470px) {
  .header__description {
    margin-top: 10px;
  }
}

@media screen and (max-width: 410px) {
  .header__description {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.container {
  width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95vw;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .nav {
    margin-right: 40px;
  }
}

@media screen and (max-width: 992px) {
  .nav {
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
  }
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: none;
  transition: transform 0.4s ease-out;
}

@media screen and (max-width: 992px) {
  .nav__links {
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    left: 0;
    background-color: #f2f2f2;
    width: 50vw;
    height: 100vh;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav__links {
    width: 50vw;
  }
}

@media screen and (max-width: 576px) {
  .nav__links {
    width: 60vw;
  }
}

@media screen and (max-width: 410px) {
  .nav__links {
    width: 70vw;
  }
}

.nav__item {
  margin-right: 40px;
}

@media screen and (max-width: 992px) {
  .nav__item {
    margin-right: 0;
    margin-top: 40px;
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .nav__item {
    margin-top: 0px;
  }
}

.nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.nav__link:hover {
  color: #f84646;
  font-weight: 900;
}

@media screen and (max-width: 992px) {
  .nav__link {
    font-size: 20px;
    font-weight: 900;
    line-height: 70px;
  }
}

@media screen and (max-width: 576px) {
  .nav__link {
    font-size: 16px;
  }
}

.nav__close {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50px;
  right: 15px;
  display: none;
}

@media screen and (max-width: 992px) {
  .nav__close {
    display: inline-block;
  }
}

@media (max-width: 340px) {
  .nav__close {
    top: 20px;
    right: 0;
  }
}

.nav .toggle__menu-btn {
  display: none;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 992px) {
  .nav .toggle__menu-btn {
    display: inline-block;
  }
}

.nav .open-nav {
  transform: translateX(0);
}

.nav .close-nav {
  transform: translateX(-100%);
}

.footer {
  background-color: #f8464a;
  color: #fff;
  padding: 70px 0 40px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 1400px) {
  .footer__content {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .footer__content {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .footer__content {
    width: 98%;
    margin: 0 auto;
  }
}

.footer__nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

@media screen and (max-width: 1400px) {
  .footer__nav {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .footer__nav {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .footer__nav {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
  }
}

.footer__nav-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer__nav-title {
    font-size: 20px;
  }
}

.footer__nav-link {
  margin: 24px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 10px;
  color: #e6e6e6;
}

@media screen and (max-width: 768px) {
  .footer__nav-link {
    line-height: 5px;
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .footer__nav-link {
    line-height: 5px;
    font-size: 17px;
  }
}

@media screen and (max-width: 410px) {
  .footer__nav-link {
    line-height: 5px;
    font-size: 15px;
  }
}

.footer__nav-link:hover {
  color: #111;
  font-weight: 700;
  cursor: pointer;
}

.footer__nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .footer__nav-links {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .footer__nav-links {
    margin-bottom: 40px;
  }
}

.footer__footer {
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .footer__footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer__footer img {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .footer__footer img {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .footer .social__icons {
    margin-top: 40px;
  }
}

.services {
  padding: 120px 0 140px 0;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .services {
    padding: 70px 0 50px 0;
  }
}

@media screen and (max-width: 1200px) {
  .services {
    padding: 70px 0 20px 0;
  }
}

@media screen and (max-width: 992px) {
  .services {
    padding: 70px 0 0 0;
  }
}

.services__title {
  line-height: 49px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .services__title {
    margin-bottom: 15px;
    font-size: 36px;
  }
}

@media screen and (max-width: 410px) {
  .services__title {
    font-size: 30px;
  }
}

.services__description {
  line-height: 39px;
  letter-spacing: 0.2px;
  font-size: 24px;
  width: 70%;
  opacity: 0.8;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .services__description {
    width: 94%;
  }
}

@media screen and (max-width: 992px) {
  .services__description {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .services__description {
    font-size: 16px;
    letter-spacing: 0.8;
  }
}

@media screen and (max-width: 410px) {
  .services__description {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8;
  }
}

.management {
  color: #fff;
  padding: 70px 0;
  background-color: #f8464a;
}

@media screen and (max-width: 768px) {
  .management {
    padding: 50px 0;
  }
}

@media screen and (max-width: 576px) {
  .management {
    padding: 30px 0;
  }
}

.management .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.management__header {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .management__header {
    width: 80%;
    margin: 0 auto;
  }
}

.management__title {
  font-feature-settings: "liga" off;
  font-size: 48px;
  line-height: 64px;
  font-weight: 800;
}

@media screen and (max-width: 1200px) {
  .management__title {
    font-size: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .management__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  .management__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 410px) {
  .management__title {
    font-size: 30px;
  }
}

.management__subtitle {
  margin-top: 12px;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
}

.management__body {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .management__body {
    width: 95%;
  }
}

@media screen and (max-width: 992px) {
  .management__body {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .management__body {
    padding-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  .management__body {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 410px) {
  .management__body {
    padding-top: 40px;
  }
}

.management__textbox {
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 992px) {
  .management__textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 576px) {
  .management__textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.management__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .management__text {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 992px) {
  .management__text {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .management__text {
    width: 50%;
  }
}

.management__icon {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 576px) {
  .management__icon {
    transform: rotate(90deg);
    margin-top: 20px;
  }
}

.about {
  padding: 180px 0 160px 0;
}

@media screen and (max-width: 1400px) {
  .about {
    padding: 120px 0 140px 0;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 150px 0;
  }
}

@media screen and (max-width: 992px) {
  .about {
    padding: 110px 0;
  }
}

@media screen and (max-width: 576px) {
  .about {
    padding: 70px 0;
  }
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .about__content {
    width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .about__content {
    width: 95%;
  }
}

.about__box {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .about__box {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
  }
}

.about__info {
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 1400px) {
  .about__info {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .about__info {
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .about__info {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

.about__img {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .about__img {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .about__img {
    width: 100%;
    order: -1;
    text-align: center;
  }
}

.about__img img {
  width: 504px;
  height: 480px;
}

@media screen and (max-width: 1200px) {
  .about__img img {
    width: 424px;
    height: 404px;
  }
}

@media screen and (max-width: 768px) {
  .about__img img {
    width: 90vw;
    height: 45vh;
    object-fit: cover;
    border-radius: 13px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .about__img img {
    height: 40vh;
    margin-bottom: 20px;
  }
}

.about__info-title {
  font-weight: 700;
  line-height: 76px;
  font-family: "Manrope-Medium";
  color: #2E2E2E;
  width: 80%;
}

@media screen and (max-width: 1400px) {
  .about__info-title {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .about__info-title {
    font-size: 36px;
    line-height: 60px;
    width: 95%;
  }
}

@media screen and (max-width: 576px) {
  .about__info-title {
    font-size: 30px;
    line-height: 45px;
    width: 95%;
  }
}

.about__info-description {
  width: 90%;
  color: #808080;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1400px) {
  .about__info-description {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .about__info-description {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 94%;
  }
}

@media screen and (max-width: 992px) {
  .about__info-description {
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about__info-description {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 35px;
  }
}

@media screen and (max-width: 576px) {
  .about__info-description {
    margin-top: 5px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 32px;
  }
}

.partners {
  padding: 60px 0 0px 0;
  background-color: #F4F5F7;
}

.partners__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.partners__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191F;
}

@media screen and (max-width: 768px) {
  .partners__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  .partners__title {
    color: #000;
    font-weight: 700;
  }
}

@media screen and (max-width: 410px) {
  .partners__title {
    color: #000;
    font-weight: 600;
    font-size: 30px;
  }
}

.partners__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .partners__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .partners__subtitle {
    font-size: 18px !important;
    font-weight: 400 !important;
  }
}

@media screen and (max-width: 410px) {
  .partners__subtitle {
    font-size: 18px !important;
    font-weight: 400 !important;
  }
}

.partners__imgboxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 48px;
}

@media screen and (max-width: 576px) {
  .partners__imgboxs {
    flex-direction: column;
  }
}

.partners__imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .partners__imgbox .partners__img {
    width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .partners__imgbox img {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .partners__imgbox {
    flex-direction: column;
  }
}

.contact {
  padding: 160px 0;
}

@media screen and (max-width: 992px) {
  .contact {
    padding: 140px 0;
  }
}

@media screen and (max-width: 576px) {
  .contact {
    padding: 85px 0;
  }
}

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact__imgbox {
  position: relative;
}

.contact__imgbox .contact__shape {
  position: absolute;
  right: 0;
  top: 7px;
  background-color: #ff2020;
  opacity: 0.8;
  border-radius: 50%;
  width: 61px;
  height: 61px;
}

.contact__imgbox img {
  width: 120px;
  height: 120px;
}

.contact__title {
  font-size: 48px;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .contact__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 410px) {
  .contact__title {
    font-size: 30px;
  }
}

.contact__subtitle {
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url("/font/Manrope-Regular.ttf");
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url("/font/Manrope-Bold.ttf");
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url("/font/Manrope-Medium.ttf");
}
