// * Colors
$color-primary: #f84646;
$color-black: #000;
$color-dark: #2E2E2E;
$color-dark-2: #18191F;
$color-white: #fff;
$color-secondary: #808080;
$color-grey: #E5E5E5;

// * Background Colors
$color-bg-1: #F4F5F7;
$color-bg-2: #f8464a;

// * Shape colors
$shape-color-1: darken(#ff5391, 10%);
$shape-color-2: darken(#7553ff,10%);
$shape-color-3: darken(#53c1ff,20%);
$shape-color-4: darken(#53acff,10%);
$shape-color-5: darken(#ff5353,10%);
$shape-color-6: darken(#ffba53,10%);

// * Sizes
$border-radius-1: 5px;
$border-radius-2: 8px;


